@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
  --spacing: 4px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Text Color */
.text-color {
  @apply text-[#18191F];
}

.text-title {
  @apply text-[#4D4D4D];
}

.text-sub {
  @apply text-[#717171];
}

.text-green {
  @apply text-[#4CAF4F];
}

.text-white {
  @apply text-[#FFFFFF];
}

.text-gray {
  @apply text-[#F5F7FA];
}

/* FONTS */
.regular-14 {
  @apply text-[14px] font-[200];
}

.regular-18 {
  @apply text-[18px] font-[400];
}

.bold-18 {
  @apply text-[18px] font-[500];
}

.bold-20 {
  @apply text-[24px] font-[700];
}

.bold-64 {
  @apply text-[64px] font-[1000] leading-[120%];
}

.semi-bold {
  @apply text-[50px] font-[700];
}

.body-bold {
  @apply text-[47px] font-[700];
}

.semi-bold-1 {
  @apply text-[40px] font-[700];
}

/* Utilities */

.flexCenter {
  @apply flex items-center justify-center;
}

/* Background */
.bg-main {
  @apply bg-[#F5F7FA];
}

.bg-sub {
  @apply bg-[#FFFFFF];
}

.bg-footer {
  @apply bg-[#263238];
}

/* ImageContainer */
.image-container {
  @apply flex flex-col items-center p-5 transform hover:scale-105 transition-transform duration-300 cursor-pointer h-full w-full col-span-12  md:col-span-4 lg:col-span-3;
}

/* Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 6.5s steps(40, end), blink-caret 0.75s;
}

/* Icon Animation */
.animated-SocIcon {
  @apply transition-all duration-300;
}

.animated-SocIcon:hover {
  @apply scale-110;
}

.animated-SocIcon img {
  @apply transition-all duration-100;
}

.animated-SocIcon:hover img {
  @apply opacity-80;
}

/* Responsiveness */
.padding-container {
  @apply px-6 lg:px-20 3xl:px-0;
}
